@layer components {
  .SearchDialog {
    .SearchBar {
      display: flex;
      flex: none;
      gap: var(--spacing-3);
      align-items: center;
      padding: var(--spacing-4) var(--spacing-5);

      .SearchIcon {
        flex: none;
        font-size: var(--font-size-lg);
        color: var(--foreground-softer);
      }

      .SearchInput {
        flex: 1;
        min-width: 0;
        font-size: var(--font-size-md);
        color: var(--foreground);

        &::placeholder {
          color: var(--foreground-softer);
        }
      }

      .CloseButton {
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        width: var(--spacing-8);
        height: var(--spacing-8);
        color: var(--foreground-softer);
        cursor: pointer;
        outline: var(--spacing-2) solid transparent;
        outline-offset: calc(var(--px) * -1);
        background-color: transparent;
        border: 0;
        border-radius: var(--border-radius-full);
        transition:
          color var(--transition),
          outline var(--duration-slow);

        @media (hover: hover) {
          &:hover {
            color: var(--foreground);
          }
        }

        &:active {
          color: var(--foreground);
        }

        &:focus-visible {
          outline-width: var(--spacing-1);
          outline-color: var(--accent-soft);
        }

        @media (min-width: 1024px) {
          display: none;
        }
      }
    }

    .EmptyMessage {
      padding: var(--spacing-8) var(--spacing-5);
      font-size: var(--font-size-sm);
      color: var(--foreground-softer);
      text-align: center;
    }

    &[data-populated] {
      .SearchBar {
        border-bottom: var(--px) solid var(--rule);
      }
    }
  }
}
