@layer components {
  .Eyebrow {
    display: flex;
    gap: var(--spacing-3);
    align-items: center;

    .ModuleText {
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-medium);
      color: var(--foreground-softer);
      letter-spacing: var(--letter-spacing-tight);
    }
  }
}
