@layer components {
  .Eyebrow {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    color: var(--foreground-softer);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
  }
}
