@layer components {
  .PageOutline {
    display: inline-flex;

    @media (min-width: 1324px) {
      display: none;
    }
  }

  .Trigger {
    display: inline-flex;
    gap: var(--spacing-2);
    align-items: center;
    padding: var(--spacing-2) var(--spacing-3);
    font-family: inherit;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--foreground-soft);
    cursor: pointer;
    outline: var(--spacing-2) solid transparent;
    outline-offset: 0;
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-ring-inset);
    anchor-name: var(--trigger-anchor);
    transition:
      color var(--transition),
      background-color var(--transition),
      box-shadow var(--transition),
      outline 400ms,
      transform var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--foreground);
        background-color: var(--surface);
      }
    }

    &:active {
      transform: scale(0.96);
    }

    &:focus-visible {
      outline-width: 4px;
      outline-color: var(--accent-soft);
    }
  }

  .TriggerLabel {
    line-height: 1;
  }

  .List {
    display: flex;
    flex-direction: column;
  }

  .Item {
    display: block;
    padding: var(--spacing-1) var(--spacing-3);
    font-size: var(--font-size-xs);
    color: var(--foreground-soft);
    text-wrap: pretty;
    text-decoration: none;
    outline: var(--spacing-2) solid transparent;
    outline-offset: 0;
    border-radius: var(--border-radius-sm);
    transition:
      color var(--transition),
      outline 400ms;

    &[data-level="3"] {
      padding-left: var(--spacing-6);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--foreground);
      }
    }

    &:active {
      color: var(--foreground);
    }

    &:focus-visible {
      color: var(--foreground);
      outline-width: var(--spacing-05);
      outline-color: var(--accent-soft);
    }
  }
}
