@layer components {
  .IconLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: var(--foreground-soft);
    outline: var(--spacing-2) solid transparent;
    outline-offset: 0;
    border-radius: var(--border-radius-sm);
    transition:
      color var(--transition),
      outline 400ms;

    @media (hover: hover) {
      &:hover {
        color: var(--foreground);
      }
    }

    &:focus-visible {
      outline-width: 4px;
      outline-color: var(--accent-soft);
    }
  }
}
