@layer components {
  .ReferenceLayout {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 64rem;
    padding: var(--space-12) var(--space-6);
    margin: 0 auto;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
