@layer components {
  .ReferenceLayoutSidebar {
    position: sticky;
    top: var(--header-height);
    align-self: start;
    max-height: calc(100vh - var(--header-height));
    padding: var(--spacing-8) var(--spacing-8) var(--spacing-8) 0;
    overflow-y: auto;
    scrollbar-color: var(--rule) transparent;
    scrollbar-width: thin;
  }
}
