@layer components {
  .ReferenceLayout {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 64rem;
    margin: 0 auto;
    padding: var(--space-12) var(--space-6);

    .Content {
      max-width: 48rem;
      padding: var(--space-8) 0 var(--space-24) var(--space-8);
      border-left: 1px solid var(--rule);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .Content {
        padding-left: 0;
        border-left: none;
      }
    }
  }
}
