@layer components {
  .ContentLayoutContentHeader {
    position: sticky;
    top: var(--header-height);
    z-index: 90;
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--content-header-height);
    padding: 0 var(--spacing-4);
    background-color: var(--canvas);
    border-bottom: var(--px) solid var(--rule);

    @media (min-width: 1324px) {
      display: none;
    }
  }
}
