@layer components {
  .ContentLayoutContent {
    padding: var(--spacing-8) 0 var(--spacing-32);

    @media (min-width: 1024px) {
      grid-column: 2;
      border-left: var(--px) solid var(--rule);
    }
  }

  .Inner {
    @media (min-width: 1024px) {
      width: 100%;
      padding-inline: var(--spacing-12);
    }

    @media (min-width: 1324px) {
      max-width: 784px;
      margin-inline: auto;
    }
  }
}
