@layer components {
  .ContentLayout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    place-self: center;
    width: 100%;
    max-width: 1024px;
    padding: var(--spacing-6) var(--spacing-6) 0;

    .Backdrop {
      display: none;
    }

    &[data-sidebar-open] {
      .Backdrop {
        position: fixed;
        inset: 0;
        z-index: 110;
        display: block;
        background-color: color-mix(in oklab, var(--scrim) 50%, transparent);
      }
    }

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 220px 1fr;
      gap: 0;
    }
  }
}
