@layer components {
  .ContentLayoutSidebar {
    gap: var(--spacing-5);
    padding: var(--spacing-5) var(--spacing-4);

    @media (min-width: 1024px) {
      top: var(--header-height);
      z-index: auto;
      width: calc(var(--layout-sidebar-width) + var(--layout-side-bleed));
      padding: var(--spacing-5) var(--spacing-4) var(--spacing-5)
        calc(var(--spacing-3) + var(--layout-side-bleed));
      background-color: transparent;
      transform: none;
      transition: none;
    }
  }
}
