@layer components {
  .ReferenceSymbolDescription {
    --block-renderer-gap: var(--spacing-3);

    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
    color: var(--foreground-soft);

    :not(pre) > code {
      padding: 2px 6px;
      font-family: var(--font-family-mono);
      font-size: 0.9em;
      color: var(--foreground-soft);
      background: var(--surface-strong);
      border-radius: var(--border-radius-sm);
    }
  }
}
