@layer components {
  .ReferenceSymbolExampleSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    .Heading {
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-semibold);
      color: var(--text-softer);
      text-transform: uppercase;
      letter-spacing: var(--letter-spacing-wide);
    }

    .ExampleStack {
      --block-renderer-gap: var(--spacing-3);

      display: flex;
      flex-direction: column;
      gap: var(--spacing-4);
      font-size: var(--font-size-md);
      line-height: var(--line-height-normal);
      color: var(--text-soft);
    }
  }
}
