@layer components {
  .Navigation {
    --navigation-indicator-height: 0;
    --navigation-indicator-width: 0;
    --navigation-indicator-x: 0;
    --navigation-indicator-y: 0;
    --navigation-slide-duration: 700ms;
    --navigation-active-color: var(--brand-contrast);

    position: relative;
    display: inline-flex;
    gap: var(--spacing-2);
    align-items: center;
    padding: var(--spacing-2);
    background-color: var(--canvas-strong);
    border-radius: var(--border-radius-full);
    box-shadow: var(--shadow-ring-inset);

    .Indicator {
      position: absolute;
      top: var(--navigation-indicator-y);
      left: var(--navigation-indicator-x);
      width: var(--navigation-indicator-width);
      height: var(--navigation-indicator-height);
      overflow: hidden;
      pointer-events: none;
      background-color: var(--brand);
      border-radius: var(--border-radius-full);
      opacity: 0;

      .IndicatorRow {
        --navigation-active-color: var(--brand-contrast);
        --navigation-active-background-color: transparent;

        position: absolute;
        top: calc(-1 * var(--navigation-indicator-y));
        left: calc(-1 * var(--navigation-indicator-x));
        display: flex;
        gap: var(--spacing-2);
        align-items: center;
        width: max-content;
        padding: var(--spacing-2);
        color: var(--brand-contrast);
      }
    }

    &[data-animating] {
      --navigation-active-background-color: transparent;
      --navigation-active-color: var(--foreground-soft);

      .Indicator {
        opacity: 1;
        transition:
          left var(--navigation-slide-duration) var(--ease-snappy),
          top var(--navigation-slide-duration) var(--ease-snappy),
          width var(--navigation-slide-duration) var(--ease-snappy),
          height var(--navigation-slide-duration) var(--ease-snappy);

        .IndicatorRow {
          transition:
            left var(--navigation-slide-duration) var(--ease-snappy),
            top var(--navigation-slide-duration) var(--ease-snappy);
        }
      }
    }
  }
}
