@layer components {
  .GuideNavigationLink {
    display: block;
    padding: var(--spacing-1) var(--spacing-3);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-sm);
    color: var(--text-soft);
    white-space: nowrap;
    outline: var(--spacing-2) solid transparent;
    outline-offset: 0;
    border-radius: var(--border-radius-sm);
    transition:
      color var(--transition),
      outline 400ms;

    &:hover {
      color: var(--text);
    }

    &:focus-visible {
      color: var(--text);
      outline-width: 3px;
      outline-color: var(--aqua-soft);
    }

    &[data-status="active"] {
      color: var(--mint);
    }
  }
}
