@layer components {
  .MobileDialog {
    position: fixed;
    inset: var(--header-height) 0 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--canvas);
    transition: opacity var(--duration-medium) var(--ease-snappy);

    .Inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: hidden;
      transition: transform var(--duration-medium) var(--ease-snappy);
    }

    &[data-animate="enter"],
    &[data-animate="exit"] {
      opacity: 0;

      .Inner {
        transform: translateY(-8px);
      }
    }
  }
}
