@layer components {
  .BlockRendererNodeLink {
    --inline-code-color: currentColor;
    color: var(--brand);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 4px;
    transition: text-decoration-color var(--transition);

    @media (hover: hover) {
      &:hover {
        text-decoration-color: currentColor;
      }
    }
  }

  .ExternalIcon {
    display: inline-flex;
    margin-inline-start: 0.25em;
    vertical-align: 0.15em;
    color: var(--foreground-softer);
  }
}
