@layer components {
  .BlockRendererNodeCodeLocation {
    display: inline-block;
    align-self: flex-start;
    padding-top: var(--spacing-4);
    margin-top: var(--spacing-8);
    font-family: var(--font-family-mono);
    font-size: var(--font-size-xs);
    color: var(--foreground-softer);
    border-top: var(--px) solid var(--rule);
    transition: color var(--transition);

    @media (hover: hover) {
      &[href]:hover {
        color: var(--foreground);
      }
    }
  }
}
