@layer components {
  @keyframes blink {
    50% {
      background-color: initial;
    }
  }

  .MenuRadioItem {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    width: 100%;
    padding: var(--spacing-2) var(--spacing-3);
    font-family: inherit;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--foreground-soft);
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-sm);
    box-shadow: inset 0 0 0 var(--px) transparent;

    .Label {
      flex: 1 1 auto;
      line-height: 1;
    }

    .Check {
      display: none;
      color: var(--foreground);
    }

    &:focus {
      color: var(--foreground);
      background-color: var(--surface);
      box-shadow: var(--shadow-ring-inset);
    }

    &[data-checked] {
      color: var(--foreground);

      .Check {
        display: inline-flex;
      }
    }

    &[data-blinking] {
      color: var(--foreground);
      background-color: var(--surface-stronger);
      box-shadow: var(--shadow-ring-inset);
      animation: blink 160ms steps(2, jump-start) 1;
    }

    &[data-selecting] {
      .Check {
        display: none;
      }
    }
  }
}
