@layer components {
  .PageAnchorNavigationItem {
    display: block;
    padding: var(--spacing-1) var(--spacing-3);
    font-size: var(--font-size-xs);
    color: var(--foreground-soft);
    text-wrap: pretty;
    outline: var(--spacing-2) solid transparent;
    outline-offset: calc(var(--px) * -1);
    border-radius: var(--border-radius-sm);
    transition:
      color var(--transition),
      outline var(--duration-slow);

    &[data-level="3"] {
      padding-left: var(--spacing-6);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--foreground);
      }
    }

    &:active {
      color: var(--foreground);
    }

    &:focus-visible {
      color: var(--foreground);
      outline-width: var(--spacing-05);
      outline-color: var(--accent-soft);
    }

    &[data-active] {
      color: var(--brand);
    }
  }
}
