@layer components {
  .HeroDemo {
    position: relative;
    isolation: isolate;

    .Stack {
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
      transform: translateY(12px);
      opacity: 0;
      filter: blur(8px);
      transition:
        transform 900ms cubic-bezier(0.16, 1, 0.3, 1) 100ms,
        opacity 900ms cubic-bezier(0.16, 1, 0.3, 1) 100ms,
        filter 900ms cubic-bezier(0.16, 1, 0.3, 1) 100ms;
    }

    &[data-active] {
      .Stack {
        transform: none;
        opacity: 1;
        filter: blur(0);
      }
    }
  }
}
