@layer components {
  .Popover {
    position-anchor: var(--popover-anchor);
    inset: auto;
    top: anchor(bottom);
    flex-direction: column;
    gap: var(--spacing-4);
    min-width: 200px;
    padding: var(--spacing-3);
    margin: 0;
    margin-top: var(--spacing-2);
    background: var(--canvas);
    border: var(--px) solid var(--rule);
    border-radius: var(--border-radius-md);
    box-shadow: 0 12px 60px 0 #0000007d;

    opacity: 0;
    transition:
      opacity var(--transition),
      display var(--transition) allow-discrete,
      overlay var(--transition) allow-discrete;
    will-change: opacity;

    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;

    &[data-align="start"] {
      left: anchor(left);
    }

    &[data-align="end"] {
      right: anchor(right);
    }

    &[data-align="center"] {
      left: anchor(center);
      translate: -50% 0;
    }

    &:popover-open {
      display: flex;
      opacity: 1;
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
      }
    }
  }

  .Option {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    padding: var(--spacing-2) var(--spacing-3);
    font-family: inherit;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--foreground-soft);
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-sm);
    box-shadow: inset 0 0 0 var(--px) transparent;
    transition:
      color var(--transition),
      background-color var(--transition),
      box-shadow var(--transition),
      transform var(--transition);

    @media (hover: hover) {
      &:hover:not([data-active="true"]) {
        color: var(--foreground);
        background-color: var(--surface);
        box-shadow: var(--shadow-ring-inset);
      }
    }

    &:active {
      transform: scale(0.98);
    }

    &[data-active="true"] {
      color: var(--foreground);
      background-color: var(--surface-stronger);
      box-shadow: inset 0 0 0 var(--px) var(--ring-stronger);
    }
  }

  .OptionLabel {
    flex: 1 1 auto;
    line-height: 1;
  }

  .OptionTrailing {
    display: inline-flex;
    color: var(--foreground-softer);
  }

  .Option[data-active="true"] .OptionTrailing {
    color: var(--foreground);
  }

  .Eyebrow {
    padding: var(--spacing-2) var(--spacing-3) var(--spacing-1);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    color: var(--foreground-softer);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wider);
  }
}
