@layer components {
  .Wordmark {
    display: inline-flex;
    align-items: center;
    height: var(--spacing-12);
    padding: 0 var(--spacing-5);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-none);
    letter-spacing: var(--letter-spacing-tighter);

    border-radius: var(--border-radius-full) var(--border-radius-full)
      var(--border-radius-full) 0;

    .YapText {
      color: var(--foreground);
    }

    .YakText {
      color: transparent;
      background: var(--gradient-brand);
      background-clip: text;
    }
  }
}
