@layer components {
  .Wordmark {
    width: auto;
    height: 21px;
    shape-rendering: geometricPrecision;

    .BrandFill {
      fill: var(--brand);
    }

    .YapText {
      fill: var(--foreground);
    }
  }
}
