@layer components {
  .Wordmark {
    width: auto;
    height: 21px;
    shape-rendering: geometricPrecision;

    .GradientStart {
      stop-color: var(--brand);
    }

    .GradientEnd {
      stop-color: var(--accent);
    }

    .YapText {
      fill: var(--foreground);
    }
  }
}
