@layer components {
  .Backdrop {
    position: fixed;
    inset: 0;
    opacity: 1;
    transition: opacity var(--duration-slow) var(--ease-snappy);

    &[data-opaque] {
      background-color: color-mix(in srgb, var(--color-black) 70%, transparent);
    }

    &[data-animate="enter"],
    &[data-animate="exit"] {
      opacity: 0;
    }
  }
}
