@layer components {
  .Attachment {
    --arrow-size: var(--spacing-5);
    --arrow-x: 0;
    --arrow-y: 0;
    --arrow-overlap: calc(-1 * var(--arrow-size) / 2);
    --background-color: var(--surface-elevated);

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: var(--min-height);
    max-height: var(--max-height);
    color: var(--foreground);
    opacity: 1;
    transform: translate(var(--x), var(--y));
    transition: opacity 120ms ease-out;

    .Content {
      z-index: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      pointer-events: auto;
      background-color: var(--background-color);
      border: var(--px) solid var(--ring);
      border-radius: var(--border-radius-md);
      box-shadow: 0 16px 80px
        color-mix(in oklab, var(--color-black) 60%, transparent);
      scale: 1;
      transition: scale 120ms ease-out;
    }

    .Arrow {
      position: absolute;
      z-index: 2;
      width: var(--arrow-width);
      height: var(--arrow-height);
      pointer-events: auto;
      opacity: 0;
      transform: translate(var(--arrow-x, 0), var(--arrow-y, 0));

      svg {
        display: block;
        width: 100%;
        height: 100%;
        overflow: visible;

        .ArrowOuter {
          fill: var(--ring);
        }

        .ArrowInner {
          fill: var(--background-color);
        }
      }
    }

    &[data-docked]:not([data-arrow-overflow]) .Arrow {
      opacity: 1;
    }

    &[data-placement="top"],
    &[data-placement="bottom"] {
      --arrow-width: var(--arrow-size);
      --arrow-height: calc(var(--arrow-size) / 2);
    }

    &[data-placement="left"],
    &[data-placement="right"] {
      --arrow-width: calc(var(--arrow-size) / 2);
      --arrow-height: var(--arrow-size);
    }

    &[data-placement="top"] {
      --arrow-x: var(--arrow-offset);
      --arrow-y: 0;
      flex-direction: column;

      .Arrow {
        bottom: var(--arrow-overlap);
      }

      &[data-alignment="start"] .Content {
        transform-origin: bottom left;
      }
      &[data-alignment="center"] .Content {
        transform-origin: bottom center;
      }
      &[data-alignment="end"] .Content {
        transform-origin: bottom right;
      }
    }

    &[data-placement="bottom"] {
      --arrow-x: var(--arrow-offset);
      --arrow-y: 0;
      flex-direction: column;

      .Arrow {
        top: var(--arrow-overlap);
      }

      &[data-alignment="start"] .Content {
        transform-origin: top left;
      }
      &[data-alignment="center"] .Content {
        transform-origin: top center;
      }
      &[data-alignment="end"] .Content {
        transform-origin: top right;
      }
    }

    &[data-placement="left"] {
      --arrow-x: 0;
      --arrow-y: var(--arrow-offset);
      flex-direction: row;

      .Arrow {
        right: var(--arrow-overlap);
      }

      &[data-alignment="start"] .Content {
        transform-origin: top right;
      }
      &[data-alignment="center"] .Content {
        transform-origin: center right;
      }
      &[data-alignment="end"] .Content {
        transform-origin: bottom right;
      }
    }

    &[data-placement="right"] {
      --arrow-x: 0;
      --arrow-y: var(--arrow-offset);
      flex-direction: row;

      .Arrow {
        left: var(--arrow-overlap);
      }

      &[data-alignment="start"] .Content {
        transform-origin: top left;
      }
      &[data-alignment="center"] .Content {
        transform-origin: center left;
      }
      &[data-alignment="end"] .Content {
        transform-origin: bottom left;
      }
    }

    &[data-animate="enter"],
    &[data-animate="exit"] {
      opacity: 0;

      .Content {
        scale: 0.97;
      }
    }
  }
}
