:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    #5cd6e0,
    #3dbfd1,
    #146e80
  );
  --vp-home-hero-image-background-image: radial-gradient(
    circle,
    #3dbfd133 0%,
    transparent 70%
  );
  --vp-home-hero-image-filter: blur(44px);
  --vp-c-brand-1: #0e5a6e;
  --vp-c-brand-2: #146e80;
  --vp-c-brand-3: #1f8298;
  --vp-c-brand-soft: #14708024;
}

.dark {
  --vp-c-brand-1: #5cd6e0;
  --vp-c-brand-2: #3dbfd1;
  --vp-c-brand-3: #146e80;
  --vp-c-brand-soft: #3dbfd129;
}
