@layer components {
  .SearchDialogButton {
    display: inline-flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--foreground-soft);
    outline: var(--spacing-2) solid transparent;
    outline-offset: calc(var(--px) * -1);
    background-color: transparent;
    border-radius: var(--border-radius-full);
    transition:
      color var(--transition),
      outline var(--duration-slow);

    &:enabled {
      @media (hover: hover) {
        &:hover {
          color: var(--foreground);
        }
      }

      &:active {
        color: var(--foreground);
      }

      &:focus-visible {
        outline-width: var(--spacing-1);
        outline-color: var(--accent-soft);
      }
    }

    &[aria-expanded="true"] {
      color: var(--foreground);
    }
  }
}
