@layer components {
  .FeatureList {
    position: relative;
    place-self: center;
    max-width: 64rem;
    padding-top: var(--space-24);
    padding-bottom: var(--space-24);
    border-top: 1px solid var(--rule);
    border-left: 1px solid var(--rule);
  }
}
