@layer components {
  .FeatureSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    place-self: center;
    width: 100%;
    max-width: 80rem;
    padding: 0 var(--spacing-8) var(--spacing-24);

    .Divider {
      height: 1px;
      background-color: var(--rule);
    }

    .List {
      position: relative;
      place-self: center;
      width: 100%;
      max-width: 64rem;
      border-left: 1px solid var(--rule);
    }
  }
}
