@layer components {
  .FeatureSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    place-self: center;
    width: 100%;
    max-width: 1024px;
    padding: 0 clamp(var(--spacing-4), 4vw, var(--spacing-8)) var(--spacing-24);

    .Divider {
      display: none;
      height: var(--px);
      background-color: var(--rule);
    }

    .List {
      position: relative;
      width: 100%;
      border-left: var(--px) solid var(--rule);
    }

    @media (min-width: 1024px) {
      .Divider {
        display: block;
      }
    }
  }
}
