@layer components {
  .IconLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--spacing-4) + var(--spacing-2) + 0.95rem * 1.65);
    height: calc(var(--spacing-4) + var(--spacing-2) + 0.95rem * 1.65);
    font-size: var(--font-size-md);
    color: var(--foreground-softer);
    background-color: var(--canvas-soft);
    border-radius: var(--border-radius-full);
    box-shadow: var(--shadow-ring-inset);
    transition: color var(--transition);

    &:hover {
      color: var(--foreground);
    }
  }
}
