@layer components {
  .PageArticle {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);

    .Header {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);

      .TitleHeading {
        font-size: var(--font-size-3xl);
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-tight);
        color: var(--foreground);
        letter-spacing: var(--letter-spacing-tighter);
      }

      .DescriptionParagraph {
        font-size: var(--font-size-lg);
        color: var(--foreground-soft);
      }
    }

    .Body {
      font-size: var(--font-size-md);
      line-height: var(--line-height-loose);
      color: var(--foreground-soft);
      letter-spacing: var(--letter-spacing-tight);

      @media (min-width: 60rem) {
        max-width: 40rem;
      }
    }
  }
}
