@layer components {
  .ReferenceLayout {
    display: grid;
    grid-template-columns: 200px 1fr;
    place-self: center;
    width: 100%;
    max-width: 64rem;
    padding: var(--spacing-12) var(--spacing-6);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
