@layer components {
  .GuideLayoutContent {
    max-width: 48rem;
    padding: var(--spacing-8) 0 var(--spacing-24) var(--spacing-8);
    border-left: var(--px) solid var(--rule);

    @media (max-width: 768px) {
      padding-left: 0;
      border-left: none;
    }
  }
}
