@layer components {
  .GuideLayoutSidebarToggleButton {
    position: sticky;
    top: calc(var(--header-height) / 2 - 22px);
    z-index: 110;
    align-self: center;
    display: inline-flex;
    gap: var(--spacing-2);
    align-items: center;
    padding: var(--spacing-2) var(--spacing-4);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--foreground-soft);
    outline: var(--spacing-2) solid transparent;
    outline-offset: 0;
    background-color: var(--surface-stronger);
    border-radius: var(--border-radius-full);
    box-shadow: var(--shadow-ring-inset);
    transition:
      color var(--transition),
      background-color var(--transition),
      box-shadow var(--transition),
      outline 400ms,
      transform var(--transition);

    .LabelText {
      display: inline-block;
    }

    .ChevronWrapper {
      display: inline-flex;
      align-items: center;
      color: var(--foreground-softer);
    }

    &:hover {
      color: var(--foreground);
    }

    &:active {
      transform: scale(0.99);
    }

    &:focus-visible {
      outline-width: 4px;
      outline-color: var(--accent-soft);
    }

    @media (min-width: 60rem) {
      display: none;
    }
  }
}
