:root {
  --accent-react: #61dafb;
  --accent-vue: #41b883;
  --accent-svelte: #ff3e00;
  --accent-astro: #f041ff;
  --accent-pnpm: #f9ad00;
  --accent-npm: #cb3837;
  --accent-bun: #fbf0df;

  --accent-none: #ffffff;
  --accent-react-router: #f44250;
  --accent-tanstack-start: #ffd93d;
  --accent-sveltekit: #ff3e00;

  --accent-anthropic: #cc785c;
  --accent-openai: #10a37f;
  --accent-gemini: #4285f4;
  --accent-ollama: #f5f5f5;

  --accent-chatgpt: #10a37f;
  --accent-claude: #cc785c;
  --accent-cursor: #ffffff;
  --accent-t3-chat: #ec4899;
}
