*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  tab-size: 2;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

:where(:focus:not(:focus-visible)) {
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline-offset: 0;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline-offset: 0;
  background: none;
  border: 0;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  background: none;
  border: 0;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

th {
  text-align: left;
}

hr {
  border: none;
}
