@layer components {
  .OptionMenuButtonOption {
    --prepaint-display: flex;

    display: none;
    gap: var(--spacing-2);
    align-items: center;

    .LabelText {
      display: var(--option-menu-button-option-display, inline);
      line-height: 1;
    }

    &[data-active] {
      display: flex;
    }
  }
}
