@layer components {
  .OptionMenuButton {
    display: inline-flex;
    gap: var(--spacing-2);
    align-items: center;
    padding: var(--spacing-2-5) var(--spacing-3);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--foreground-soft);
    outline: var(--spacing-2) solid transparent;
    outline-offset: calc(var(--px) * -1);
    background-color: transparent;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-ring-inset);
    transition:
      color var(--transition),
      background-color var(--transition),
      box-shadow var(--transition),
      outline var(--duration-slow);

    .Chevron {
      display: inline-flex;
      margin-left: auto;
      color: var(--foreground-softer);
    }

    &:enabled {
      @media (hover: hover) {
        &:hover {
          color: var(--foreground);
          background-color: var(--surface);
        }
      }

      &:active {
        color: var(--foreground);
        background-color: var(--surface-strong);
      }
    }

    &[aria-expanded="true"] {
      color: var(--foreground);
      background-color: var(--surface-strong);
    }

    &:enabled {
      &:focus-visible {
        outline-width: 4px;
        outline-color: var(--accent-soft);
      }
    }
  }
}
