@layer components {
  .CodeBlock {
    position: relative;
    overflow: hidden;
    background: var(--surface);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-ring-inset);

    &[data-bare] {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
    }

    .Header {
      display: flex;
      gap: var(--spacing-3);
      align-items: center;
      justify-content: space-between;
      padding: var(--spacing-3) var(--spacing-4);
      border-bottom: var(--px) solid var(--rule);
      transition: opacity var(--transition);
    }

    .PathText {
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: var(--font-family-mono);
      font-size: var(--font-size-xs);
      color: var(--foreground-soft);
      white-space: nowrap;
    }

    .LanguageBadge {
      font-family: var(--font-family-mono);
      font-size: var(--font-size-xs);
      color: var(--foreground-softer);
      text-transform: lowercase;
      pointer-events: none;
      user-select: none;
    }

    .LanguageText {
      position: absolute;
      top: var(--spacing-3);
      right: var(--spacing-4);
      font-family: var(--font-family-mono);
      font-size: var(--font-size-xs);
      color: var(--foreground-softer);
      text-transform: lowercase;
      pointer-events: none;
      user-select: none;
      transition: opacity var(--transition);
    }

    .PreformattedText {
      padding: var(--spacing-5) var(--spacing-6);
      overflow-x: auto;
      font-family: var(--font-family-mono);
      font-size: var(--font-size-xs);
      line-height: var(--line-height-normal);
      color: var(--foreground-soft);
      scrollbar-color: var(--ring-stronger) transparent;
      scrollbar-width: thin;

      code {
        font-family: inherit;
      }
    }

    .CopyButton {
      pointer-events: none;
      opacity: 0;
      transition: opacity var(--transition);
    }

    @media (hover: hover) {
      &:hover {
        .CopyButton {
          pointer-events: auto;
          opacity: 1;
        }

        .LanguageText {
          opacity: 0;
        }

        .LanguageBadge {
          opacity: 0;
        }
      }
    }

    &:focus-within {
      .CopyButton {
        pointer-events: auto;
        opacity: 1;
      }

      .LanguageText {
        opacity: 0;
      }

      .LanguageBadge {
        opacity: 0;
      }
    }

    &:has(.CopyButton[data-copied]) {
      .CopyButton {
        pointer-events: auto;
        opacity: 1;
      }

      .LanguageText {
        opacity: 0;
      }

      .LanguageBadge {
        opacity: 0;
      }
    }
  }
}
