@layer components {
  .LayoutHeaderMenuButton {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    color: var(--foreground-soft);
    cursor: pointer;
    outline: var(--spacing-2) solid transparent;
    outline-offset: 0;
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-sm);
    transition:
      color var(--transition),
      outline 400ms;

    .Line {
      display: block;
      width: 20px;
      height: var(--spacing-05);
      background-color: currentColor;
      border-radius: var(--border-radius-full);
      transition:
        transform 320ms var(--ease-snappy),
        opacity 320ms var(--ease-snappy);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--foreground);
      }
    }

    &:focus-visible {
      outline-width: 4px;
      outline-color: var(--accent-soft);
    }

    &[data-open] {
      .Line:first-child {
        transform: translateY(4px) rotate(45deg);
      }

      .Line:last-child {
        transform: translateY(-4px) rotate(-45deg);
      }
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .LayoutHeaderMenuButton .Line {
      transition: none;
    }
  }
}
