@layer components {
  .Layout {
    --layout-sidebar-width: 240px;
    --layout-outline-width: 300px;
    --layout-max-width: 1324px;
    --layout-side-bleed: max(0px, calc((100vw - var(--layout-max-width)) / 2));

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: var(--header-height);

    @media (min-width: 1324px) {
      --layout-max-width: 1460px;
    }

    .GrainOverlay {
      position: fixed;
      inset: 0;
      z-index: 9999;
      pointer-events: none;
      background-image: var(--grain-noise);
      opacity: var(--grain-opacity);
    }
  }
}
