@layer components {
  .LayoutHeaderEnd {
    display: none;
    justify-self: end;

    @media (min-width: 1024px) {
      display: flex;
      gap: var(--spacing-3);
      align-items: center;
    }
  }
}
