@layer components {
  .FeatureList {
    max-width: 80rem;
    padding: 0 var(--space-8) var(--space-24);
    margin: 0 auto;

    .Divider {
      height: 1px;
      margin-bottom: var(--space-24);
      background-color: var(--rule);
    }

    .List {
      position: relative;
      max-width: 64rem;
      padding: 0;
      margin: 0 auto;
      list-style: none;
      border-left: 1px solid var(--rule);
    }

  }
}
