@layer components {
  .ReferenceNavigationSymbol {
    display: block;
    padding: var(--spacing-1) var(--spacing-3);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-sm);
    color: var(--foreground-soft);
    white-space: nowrap;
    transition: color var(--transition);

    &:hover {
      color: var(--foreground);
    }

    &[data-status="active"] {
      color: var(--brand);
    }

    &[data-deprecated="true"] {
      color: var(--foreground-softer);
      text-decoration: line-through;
    }
  }
}
