@layer components {
  .Trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--foreground-soft);
    cursor: pointer;
    outline: var(--spacing-2) solid transparent;
    outline-offset: 0;
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-ring-inset);
    anchor-name: var(--trigger-anchor);
    transition:
      color var(--transition),
      background-color var(--transition),
      box-shadow var(--transition),
      outline 400ms,
      transform var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--foreground);
        background-color: var(--surface);
      }
    }

    &:active {
      transform: scale(0.96);
    }

    &:focus-visible {
      outline-width: 3px;
      outline-color: var(--accent-soft);
    }
  }
}
